set timeout=10
menuentry "Linux Stagex" {
    echo "Loading kernel..."
    linux /boot/vmlinuz ro root=/dev/sda2 rootwait init=/init console=ttyS0,115200n8 hostname=stagex
    initrd /boot/initramfs
    echo "Booting..."
}
