set timeout=10
menuentry "Linux Stagex" {
    echo "Loading kernel..."
    linux /boot/vmlinuz ro root=/dev/xvda2 rootwait init=/init console=hvc0 console=ttyS0,115200n8 net.ifnames=0 biosdevname=0 modprobe.blacklist=bonding hostname=stagex
    initrd /boot/initramfs
    echo "Booting..."
}
