set timeout=10
menuentry "Linux Stagex" {
    echo "Loading kernel..."
    linux /boot/vmlinuz ro root=PARTUUID=72c48e5a-b7a4-4b16-8a86-87c14f9e8d20-0002 rootwait init=/init console=ttyS0,115200n8 console=tty0 earlyprintk=efi,keep hostname=stagex
    initrd /boot/initramfs
    echo "Booting..."
}
