set timeout=2
menuentry "Linux Stagex" {
    echo "Loading kernel..."
    linux /boot/vmlinuz init=/init console=tty0 console=ttyS0,115200 console=ttyS1,115200 earlyprintk=serial,ttyS0,115200 ro loglevel=7 hostname=$HOSTNAME
    echo "Loading initramfs..."
    initrd /boot/initramfs
    echo "Booting..."
}
